/* ----- GENERAL -----*/
@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.body {
  background-color: beige;
  
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.site-navigation, .about-sedona {
    margin: 0;
    padding: 0;
}
.checkbox, .visually-hidden {
    display: none;
    
}
p {
    text-transform: uppercase;
}
/* ----------------------------------------- HEADER -------------------------------------- */
.top-menu {
    font-family: PTSans, Arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 255);
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    width: 239px;
    min-height: 56px;
    margin: 0;
    padding: 0;
}
.innertab {
    display: inline-block;
    position: relative;
    width: 239px;
    min-height: 56px;
}
.innertab {
    margin-left: 0;
    padding-left: 0;

}
.top-menu a {
    text-decoration: none;
}
.site-navigation > li {
    display: inline;
    
}
/* ------------------------------------------ INDEX BANNER -------------------------------------------- */

.blurry-banner {
    background-image: url(../img/foto-background.jpg);
    background-size: 100%;
}
.photobanner {
    background-image: url(../img/banner-photo.jpg);
    background-size: 100%;
    height: 500px;
    margin-top: -57px;
}
.ban {
    text-align: center;

}
.welcome{
    text-transform: uppercase;
    color: #81b3d2;
    
}


.gorgeous::after {
    width: 256px;
    height: 2px;
    color: #766357;
}

.reasons-introduction {
    display: block;
    width: 1200px;
    height: 216px;
    background-color: white;

}
.banner-menu > li {
    position: relative;
    width: 220px;
    display: inline-block;
    margin-right: 4px;
    text-transform: uppercase;
}
/* -------------------------------------------------------------------
                    ----- FORM ----- 
--------------------------------------------------------------------*/

.booking {
    font-family: "PTSans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 434px;
    margin-right: auto;
    margin-left: auto;
}
h2 {
    font-size: 30pt;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
}
.feedback-form {
    width: 568px;
    margin-right: auto;
    margin-left: auto;
}
.feedback-form a {
    display: block;
    width: 586px;
    min-height: 86px;
    margin: auto;
    background-color: #766357;
    font-size: 21pt;
    color: #ffffff;
    position: relative;
}
.feedback-form a:hover {
    background-color: #604e43;
}
.feedback-form a:active {
    background-color: #503e33;
    
}
.hotel-booking: {
    position: relative;
}
.feedback-form{
    width: 568px;
    height: 481px;
    border: 1px solid #000;
}
.feedback-form a {
    display: block;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    width: 568px;
    min-height: 86px;
    margin-left: auto;
    padding-top: 32px;
    margin-right: auto;
    position: relative;
}
.feedback-form a:hover {
    background-color: #604e43;
}
.feedback-form a:active {
    background-color: #503e33;
    color: #ffffff 30%;
}
.feedback-form > section {
    position: relative;
}
.hotel-booking {
    position: absolute;
    /*display: none; - включить когда допилю дизайн формы; не забыть добавить тень*/
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ffffff;
}
/*.feedback-form > section:hover .hotel-booking {
    display: block;
} включить когда будет дизайн формы*/
.feedback-form-group {
    display: inline-block;
    margin-right: -4px;
    width: 100%;
    text-transform: uppercase;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
.first-date, .last-date, .adults, .kids {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    
}
.adults, .kids {
    width: 84px;
}


.share {
    width: 270px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 10px;
    padding-left: 20px;
    background: #ecf0f1;
}
.feedback-form-group{
    padding: 10px;
}
.hotel-search-button {
    display: block;
    width: 458px;
    min-height: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #81b3d2;
    font-size: 21pt;
    color: #ffffff;
    position: relative;
}
.hotel-search-button:hover {
    background-color: #669ec0;
}
.hotel-search-button:active {
    background-color: #5496bd;
    color: #ffffff 30%;
}

/* ----- HOTELS SELECTION ----- */
.hotel-properties, .banner-menu {
    list-style: none;
    color: #e3ebf2;
}
.hotel-types::before {
    content: "";
    height: 23px;
    width: 23px;
    display: inline-block;
    background-image: url(../img/checkbox-off.svg);    
}
.checked::before {
    content: "";
    height: 23px;
    width: 23px;
    display: inline-block;
    background-image: url(../img/checkbox-on.svg);
}
.breadcrumps > li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

/*.hotel-types .checked::before {
    content: "";
    height: 23px;
    width: 23px;
    display: inline-block;
    background-image: url(../img/checkbox-on.svg);
}*/
.hotel-properties {
    display: inline;
    margin-right: 5px;
}
/*.price {
    border: 2px solid #303b40;
}
logo-image {
    
}*/
/* ----- INDEX PAGE ADVERTICEMENT ----- */
.reasons {
    font-family: "PTSans", Arial, Helvetica, sans-serif;
    color: #111111;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
}

.with-picture {
    color: #ffffff;
}
.reasons-introduction, {
    font-size: 21pt;
    text-align: center;
    text-transform: uppercase;
}
.reasons li {
    list-style-type: none;

}
.reasons li p {
    display: inline-block;
    float: center;
    test-align: center;
    width: 489px;
}
.reasons-first {
    padding-top: 50px;
}
.with-picture {
    text-align: center;
    width: 1200px;
    min-height: 256px;
    background-color: #81b3d2;
    
}


.attr-descr {
    /*font-family: PTSans, Arial, Helvetica, sans-serif;*/
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 10pt;
    padding-right: 50px;
    padding-left: 50px;
}

.attraction-photo {
    float: right;
    width: 800px;
    margin: 0;
    padding: 0;
}
.bridge .attraction-photo {
    float: left;    
}
.with-icn {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.no-icn {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  background-color: #eeeeee;
}

.with-icon {
    display: inline-block;
    position: relative;
    width: 400px;
    padding: 20px;
    margin: 10px, 0;
    font-family: PTSans, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14pt;
    padding-right: 50px;
    padding-left: 50px;
}
.with-icon::before {
    display: block;
    width: 74px;
    height: 76px;
    content: '';
    margin-top: 60px;
    
}
.icon-home::before {
    background-image: url(../img/icon-house.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.icon-food::before {
    background-image: url(../img/icon-food.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}
.icon-gift::before {
    background-image: url(../img/icon-gift.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}

/* ----- FOOTER ----- */
.social-button {
    display: inline-block;
    float: left;
    width: 46px;
    height: 48px;
    padding-right: 10px;
    vertical-align: middle;
    background-color: #81b3d2;
    margin: 10px;
    
}
.social-button:hover {
    background: #669ec0;
}
.social-button:active {
    background: #5496bd;
}
/*.social-tw {
    background: #bdc3c7 url("../img/icon-tw.svg") no-repeat;
}

.social-yt {
    background: #bdc3c7 url("../img/icon-youtube.svg") no-repeat;
}
.social-fb {
    background: #bdc3c7 url("../img/icon-fb.svg") no-repeat;
}
a .social-button:hover {
    background: #669ec0;
}
a .social-button:active {
    background: #5496bd;
}
*/
.htmlacademy-button{
    /*background: #bdc3c7 url("../img/logo-name.svg") no-repeat;*/
    
    display: inline-block;
    float: left;
    width: 115px;
    height: 41px;
    padding-right: 10px;
    vertical-align: top;
    fill: #111111;
    margin: 10px;
}
.htmlacademy-button:hover {
    fill: #81b3d2;
}
.htmlacademy-button:active {
    fill: #bdbbbc;
}
.htmlacademy-button svg path, 
.htmlacademy-button svg rect {
    fill: #000;
}
.footer {
    display: inline-block;
    float: left;
}
