/* ----- GENERAL -----*/
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.body {
  background-color: beige;
  
  
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.site-navigation, .about-sedona {
    margin: 0;
    padding: 0;
}
.checkbox, .visually-hidden {
    display: none;
    
}

/* ----------------------------------------- HEADER -------------------------------------- */
.top-menu {
    font-family: PTSansBold, Arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 255);
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    width: 239px;
    min-height: 56px;
    margin: 0;
    padding: 0;
}
.innertab {
    display: inline-block;
    position: relative;
    width: 239px;
    min-height: 56px;
}
.innertab {
    margin-left: 0;
    padding-left: 0;

}
.top-menu a {
    text-decoration: none;
}
.site-navigation > li {
    display: inline;
    
}
/* ------------------------------------------ INDEX BANNER -------------------------------------------- */

.banner {
    width: 1200px;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
}
.blurry-banner {
    background-image: url(../img/foto-background.jpg);
    

}
.photobanner {
    background-image: url(../img/banner-photo.jpg);
    
    height: 500px;
    margin-top: -57px;
}
.ban {
    text-align: center;

}
.welcome{
    text-transform: uppercase;
    color: #81b3d2;
    
}


.gorgeous::after {
    width: 256px;
    height: 2px;
    color: #766357;
}

.reasons-introduction {
    display: block;
    width: 1200px;
    height: 216px;
    background-color: white;

}

/* -------------------------------------------------------------------
                    ----- INNER BANNER ----- 
--------------------------------------------------------------------*/
.banner-menu {
    display: flex;
}
.banner-menu > li {
    font-family: PTSansBold, Arial, sans-serif;
    font-size: 16pt;
    position: relative;
    width: 220px;
    display: inline-block;
    margin-left: 70px;
    margin-right: 4px;
    text-transform: uppercase;
    
}
.banner-menu > li:nth-child(3) {
    padding-left: 150px;
}
.header-menu {
    width: 400px;

}
/* -------------------------------------------------------------------
----------------------- HOTELS SELECTION ----- 
-------------------------------------------------------------------*/
.hotel-properties, .banner-menu {
    list-style: none;
    margin-left: -20px;
    
    color: #e3ebf2;
}
.hotel-types::before {
    content: "";
    height: 23px;
    width: 23px;
    margin-right: 17px;
    
    display: inline-block;
    background-image: url(../img/checkbox-off.png);
    color: #fff;    
}
.checked::before {
    content: "";
    height: 23px;
    width: 27px;
    padding-right: 17px;
    display: inline-block;
    background-image: url(../img/checkbox-on.png);
}
.breadcrumps {
    display: flex;
}
.breadcrumps a {
    
    color: #000;

}
.breadcrumps > li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    
}
/*-----------------------------------------------------------------------------------------------
-------------------------------PRICE SELECTIONNTROLS---------------------------------------------
-------------------------------------------------------------------------------------------------*/
.filter-range {
    display: block;
    font-weight: 400;
    width: 330px;
    margin: 50px auto;
    color: #ffffff;
    text-transform: uppercase;
}
.filter-fange-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.price-control {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.price-control::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -25%;
    
    width: 2px;
    height: 22px;
    background-color: #fff;
    transform: translate(-50%, 50%);
}
.price-control label {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    cursor: pointer;
    
    
}
.price-control .min-price,
.price-control .max-price {
    width: 155px;
    padding-left: 65px;
    border: none;
}
.price-control input {
    width: 70px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background-color: rgba(255,255,255,0.33);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #fff;
}
.range-toggle {
    position: absolute;
    top: -10px;
    width: 6px;
    height: 6px;
    background-color: #ababab;
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba (0,1,1,0.2);
    cursor: pointer;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.range-toggle:hover {
    background: #1c4f80;
}
.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}
/*.show-all {
    display: inline-block;
    width: 133px;
    height: 32px;
    font-family: "PTSans", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 6px;
    list-style: none;
    border: 2px solid #fff; 
}
.show-all a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}*/
/* -------------------------------------------------------------------
                    ----- FORM ----- 
--------------------------------------------------------------------*/

.booking {
    font-family: "PTSans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 434px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0, 10px, 10px, rgba(255,255,255,0.33)
}
h2 {
    font-size: 30pt;
    font-family: "PTSans", Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
}
.feedback-form {
    width: 568px;
    margin-right: auto;
    margin-left: auto;
    height: 481px;
    border: 1px solid #000;
    box-shadow: 0, 10px, 10px, rgba(255,255,255,0.33)
}
.feedback-form a {
    display: block;
    min-height: 86px;
    background-color: #766357;
    font-size: 21pt;
    color: #ffffff;
    position: relative;
    display: block;
    font-family: "PTSans", Arial, Helvetica, sans-serif;
    font-size: 21px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 32px;
    
}
.feedback-form a:hover {
    background-color: #604e43;
}
.feedback-form a:active {
    background-color: #503e33;
    color: rgba(255,255,255,0.33);
}
.feedback-form > section {
    position: relative;
}
.hotel-booking {
    position: absolute;
    /*display: none; - включить когда допилю дизайн формы; не забыть добавить тень*/
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #ffffff;
    
}
/*.feedback-form > section:hover .hotel-booking {
    display: block;
} включить когда будет дизайн формы*/
.feedback-form-group {
    display: inline-block;
    margin-right: 20px;
    width: 100%;
    text-transform: uppercase;
    font-family: "PTSans", Arial, Helvetica, sans-serif;
    font-size: 14pt;
}
.date, .adults, .kids {
    width: 346px;
    height: 38px;
    background-color: #f2f2f2;
    
}
.adults, .kids {
    width: 84px;
}


.share {
    width: 270px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 10px;
    padding-left: 20px;
    background: #ecf0f1;
}
.feedback-form-group{
    padding: 30px;
}
.hotel-search-button {
    display: block;
    width: 458px;
    min-height: 58px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -1px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #81b3d2;
    font-size: 21pt;
    font-family: PTS;
    color: #ffffff;
    position: relative;
}
.hotel-search-button:hover {
    background-color: #669ec0;
}
.hotel-search-button:active {
    background-color: #5496bd;
    color: #ffffff 30%;
}



/*.hotel-types .checked::before {
    content: "";
    height: 23px;
    width: 23px;
    display: inline-block;
    background-image: url(../img/checkbox-on.svg);
}*/
.hotel-properties {
    display: inline;
    margin-right: 5px;
}
table {
    border-collapse: collapse;
    border: 1px solid #fff;
    width: 314px;
    height: 32px;
}
td {
    border: 1px solid #fff;
    width: 50%;
    text-align: center;
    
}

/*
logo-image {
    
}*/
/* ------------------------------------------------------ INDEX PAGE ADVERTICEMENT -------------------------- */
.reasons {
    font-family: "PTSans", Arial, Helvetica, sans-serif;
    color: #111111;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
}

.with-picture {
    color: #ffffff;
    text-align: center;
    width: 1200px;
    min-height: 256px;
    background-color: #81b3d2;
}
.reasons-introduction, {
    font-size: 21pt;
    text-align: center;
    text-transform: uppercase;
}
.reasons li {
    list-style-type: none;

}
.reasons li p {
    display: inline-block;
    text-align: center;
    width: 489px;
}
.reasons-first {
    padding-top: 50px;
}
.attr-descr {
    /*font-family: PTSans, Arial, Helvetica, sans-serif;*/
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 10pt;
    padding-right: 50px;
    padding-left: 50px;
}

.attraction-photo {
    float: right;
    width: 800px;
    margin: 0;
    padding: 0;
    margin-right: 25px;
}
.bridge .attraction-photo {
    float: left;    
}
.with-icn {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.no-icn {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  background-color: #eeeeee;
}

.with-icon {
    display: inline-block;
    position: relative;
    width: 400px;
    padding: 20px;
    margin: 10px, 0;
    font-family: PTSans, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 14pt;
    padding-right: 50px;
    padding-left: 50px;
}
.with-icon::before {
    display: block;
    width: 74px;
    height: 76px;
    content: '';
    margin-top: 60px;
    
}
.icon-home::before {
    background-image: url(../img/icon-house.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.icon-food::before {
    background-image: url(../img/icon-food.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}
.icon-gift::before {
    background-image: url(../img/icon-gift.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    
}
/* ------------------------------------------------------------------------
----------------------------------- HOTEL CARDS -----
-------------------------------------------------------------------------------------- */
.hotels-list {
    display: flex;
    flex-direction: column;
    width: 1200;
}
.hotel-card {
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #e5e5e5;
    background-color: pink;
}
.hotel-card img {
    display: inline-block;
    width: 135px;
    height: 90px;
    margin-left: 60px;
    margin-top: 30px;
}
.hotel-name {
    display: block;
    list-style: none;
    position: relative;
    left: 0px;
    top: 0px;
}
/* ------------------------------------------------------------------------
----------------------------------- FOOTER -----
-------------------------------------------------------------------------------------- */
.social-button {
    display: inline-block;
    width: 46px;
    height: 48px;
    padding-right: 10px;
    vertical-align: middle;
    background-color: #81b3d2;
    margin: 10px;
    
}
.social-button:hover {
    background: #669ec0;
}
.social-button:active {
    background: #5496bd;
}
/*.social-tw {
    background: #bdc3c7 url("../img/icon-tw.svg") no-repeat;
}

.social-yt {
    background: #bdc3c7 url("../img/icon-youtube.svg") no-repeat;
}
.social-fb {
    background: #bdc3c7 url("../img/icon-fb.svg") no-repeat;
}
a .social-button:hover {
    background: #669ec0;
}
a .social-button:active {
    background: #5496bd;
}
*/
.htmlacademy-button{
    /*background: #bdc3c7 url("../img/logo-name.svg") no-repeat;*/
    
    display: inline-block;
    width: 115px;
    height: 41px;
    padding-right: 10px;
    vertical-align: top;
    fill: #111111;
    margin: 10px;
}
.htmlacademy-button:hover {
    fill: #81b3d2;
}
.htmlacademy-button:active {
    fill: #bdbbbc;
}
.htmlacademy-button svg path, 
.htmlacademy-button svg rect {
    fill: #000;
}
.footer {
    display: inline-block;
    
}
