/* ----- GENERAL -----*/
@font-face {
  font-family: "PTSans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.body {
  background-color: beige;
  
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
.site-navigation {
    margin: 0;
    padding: 0;
}
.checkbox, .visually-hidden {
    display: none;
    
}
p {
    text-transform: uppercase;
}
/* ----- HEADER ----- */
.top-menu {
    font-family: PTSans, Arial, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 255);
    text-align: center;
    text-transform: uppercase;
    list-style: none;
    width: 239px;
    min-height: 56px;
}
.innertab {
    display: inline-block;
    position: relative;
    width: 239px;
    min-height: 56px;
}
.innertab {
    margin-left: 0;
    padding-left: 0;

}
.top-menu a {
    text-decoration: none;
}
.site-navigation > li {
    display: inline;
    
}
/* ----- INDEX BANNER ----- */
.banner {
    background-image: url(../img/banner-photo.jpg);
    background-size: 100%;
    height: 500px;
}
.container .banner {
    background-image: url(../img/foto-background.jpg);
    background-size: 100%;
}
.welcome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #81b3d2;
}


.gorgeous::after {
    width: 256px;
    height: 2px;
    color: #766357;
}

.reasons-introduction {
    display: block;
    width: 1200px;
    height: 216px;
    background-color: white;

}
.banner-menu > li {
    position: relative;
    width: 220px;
    display: inline-block;
    margin-right: 4px;
    text-transform: uppercase;
}
.hotel-properties, .banner-menu {
    list-style: none;
    color: #e3ebf2;
}
.hotel-types::before {
    content: "";
    height: 23px;
    width: 23px;
    display: inline-block;
    background-image: url(../img/checkbox-off.svg);    
}
.checked::before {
    content: "";
    height: 23px;
    width: 23px;
    display: inline-block;
    background-image: url(../img/checkbox-on.svg);
}
.breadcrumps > li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

/*.hotel-types .checked::before {
    content: "";
    height: 23px;
    width: 23px;
    display: inline-block;
    background-image: url(../img/checkbox-on.svg);
}*/
.hotel-properties {
    display: inline;
    margin-right: 5px;
}
/*.price {
    border: 2px solid #303b40;
}
logo-image {
    
}*/
/* ----- INDEX PAGE ADVERTICEMENT ----- */
.reasons-introduction {
    font-family: PTSans-Bold, AdobeInvisFont, MyriadPro-Regular;
    font-size: 21pt;
    color: rgba(0,0,0,255);
    text-align: center;
    text-transform: uppercase;
}
.reasons li {
    list-style-type: none;

}
.reasons li p {
    display: inline-block;
    float: center;
    font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(51,51,51,255)
    test-align: center;
    width: 489px;
}
.with-picture {
    font-family: PTSans-Bold, PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 21pt;
    color: rgba(255,255,255,255);
    text-align: center;
    text-transform: uppercase;
    width: 1200px;
    min-height: 256px;
    background-color: #81b3d2;
    color: rgba(255,255,255,255);
}
.attraction-photo {
    float: right;
    width: 800px;
    margin: 0;
    padding: 0;
}
.bridge .attraction-photo {
    float: left;    
}
.with-icon {
    display: inline-block;
    position: relative;
    width: 400px;
    padding: 10px, 0;
    margin: 10px, 0;
}
.with-icon::before {
    display: block;
    width: 72px;
    height: 72px;
    content: '';
}
.icon-home::before {
    background-image: url(../img/icon-house.png);
}
.icon-food::before {
    background-image: url(../img/icon-food.svg)
}
/*.advert {
    display: inline-block;
    float: left;
    width: 76px;
    height: 78px;
    padding-right: 10px;
    vertical-align: middle;
    
    margin: 10px;
    
}*/
.last-date {
    width: 120px;
    background: url(..img/icon-calendar) no-repeat 97% 50%;
}
/*.advert {
    stroke: #81b3d2;
    fill: black;
} it does not take effect */

.share {
    width: 270px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 10px;
    padding-left: 20px;
    background: #ecf0f1;
}
.feedback-form-group{
    padding: 10px;
}
/* ----- FOOTER ----- */
.social-button {
    display: inline-block;
    float: left;
    width: 46px;
    height: 48px;
    padding-right: 10px;
    vertical-align: middle;
    background-color: #81b3d2;
    margin: 10px;
    
}
.social-tw {
    background: #bdc3c7 url("../img/icon-tw.svg") no-repeat;
}
.social-yt {
    background: #bdc3c7 url("../img/icon-youtube.svg") no-repeat;
}
.social-fb {
    background: #bdc3c7 url("../img/icon-fb.svg") no-repeat;
}
.htmlacademy-button{
    /*background: #bdc3c7 url("../img/logo-name.svg") no-repeat;*/
    
    display: inline-block;
    float: left;
    width: 115px;
    height: 41px;
    padding-right: 10px;
    vertical-align: top;
    fill: #111111;
    margin: 10px;
}
.htmlacademy-button svg path, 
.htmlacademy-button svg rect {
    fill: #000;
}
.footer {
    display: inline-block;
    float: left;
}

/*.icon74x70 {
    width: 74px;
    height: 70px;
    background-color: skyblue;
} */